<%= form_with(model: party_info, local: true) do |form| %>
  <% if party_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(party_info.errors.count, "error") %> prohibited this party_info from being saved:</h2>

      <ul>
      <% party_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result_no %>
    <%= form.number_field :result_no, id: :party_info_result_no %>
  </div>

  <div class="field">
    <%= form.label :generate_no %>
    <%= form.number_field :generate_no, id: :party_info_generate_no %>
  </div>

  <div class="field">
    <%= form.label :party_no %>
    <%= form.number_field :party_no, id: :party_info_party_no %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :party_info_name %>
  </div>

  <div class="field">
    <%= form.label :member_num %>
    <%= form.number_field :member_num, id: :party_info_member_num %>
  </div>

  <div class="field">
    <%= form.label :battler_num %>
    <%= form.number_field :battler_num, id: :party_info_battler_num %>
  </div>

  <div class="field">
    <%= form.label :sook_num %>
    <%= form.number_field :sook_num, id: :party_info_sook_num %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
