- @page_title = "パーティ情報一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "パーティ番号", params_name: "party_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "パーティ名", params_name: "name_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "パーティ人数", params_name: "member_num_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "参戦人数", params_name: "battler_num_form")
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@party_infos)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :party_no, "Pno", default_order: :desc)
      %th= sort_link(@search, :name, "パーティ名", default_order: :desc)
      %th= sort_link(@search, :e_no,"メンバー(Eno)", default_order: :desc)
      %th= sort_link(@search, :member_num, "人数", default_order: :desc)
      %th= sort_link(@search, :battler_num, "参戦", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @party_infos.each do |party_info|
      %tr
        %td= party_info.result_no
        %td= party_info.party_no
        %td= party_info.name
        %td
          - party_info.party_members.each do |party_member|
            = pc_name_text(party_member.e_no, party_member.sub_no, party_member.pc_name)
            %br
        %td= party_info.member_num
        %td= party_info.battler_num
        %td= battle_link(party_info.party_no)
        %td= battle_old_link(@latest_result, party_info.party_no, party_info.result_no)
= paginate(@party_infos)
