= form_with(model: enemy, local: true) do |form|
  - if enemy.errors.any?
    #error_explanation
      %h2
        = pluralize(enemy.errors.count, "error")
        prohibited this enemy from being saved:
      %ul
        - enemy.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :result_no
    = form.number_field :result_no, id: :enemy_result_no
  .field
    = form.label :generate_no
    = form.number_field :generate_no, id: :enemy_generate_no
  .field
    = form.label :party_no
    = form.number_field :party_no, id: :enemy_party_no
  .field
    = form.label :enemy
    = form.number_field :enemy, id: :enemy_enemy
  .field
    = form.label :suffix
    = form.text_field :suffix, id: :enemy_suffix
  .actions
    = form.submit
