<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @enemy.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @enemy.generate_no %>
</p>

<p>
  <strong>Party no:</strong>
  <%= @enemy.party_no %>
</p>

<p>
  <strong>Enemy:</strong>
  <%= @enemy.enemy %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @enemy.suffix %>
</p>

<%= link_to 'Edit', edit_enemy_path(@enemy) %> |
<%= link_to 'Back', enemies_path %>
