<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result_no %>
    <%= form.number_field :result_no, id: :profile_result_no %>
  </div>

  <div class="field">
    <%= form.label :generate_no %>
    <%= form.number_field :generate_no, id: :profile_generate_no %>
  </div>

  <div class="field">
    <%= form.label :e_no %>
    <%= form.number_field :e_no, id: :profile_e_no %>
  </div>

  <div class="field">
    <%= form.label :sub_no %>
    <%= form.number_field :sub_no, id: :profile_sub_no %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :profile_nickname %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :profile_title %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.text_field :job, id: :profile_job %>
  </div>

  <div class="field">
    <%= form.label :tribe %>
    <%= form.number_field :tribe, id: :profile_tribe %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :profile_sex %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :profile_age %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height, id: :profile_height %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, id: :profile_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
