<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @profile.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @profile.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @profile.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @profile.sub_no %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Job:</strong>
  <%= @profile.job %>
</p>

<p>
  <strong>Tribe:</strong>
  <%= @profile.tribe %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
