<%= form_with(model: learnable_skill, local: true) do |form| %>
  <% if learnable_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(learnable_skill.errors.count, "error") %> prohibited this learnable_skill from being saved:</h2>

      <ul>
      <% learnable_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chara_type %>
    <%= form.number_field :chara_type, id: :learnable_skill_chara_type %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.number_field :job_id, id: :learnable_skill_job_id %>
  </div>

  <div class="field">
    <%= form.label :sp %>
    <%= form.number_field :sp, id: :learnable_skill_sp %>
  </div>

  <div class="field">
    <%= form.label :skill_no %>
    <%= form.number_field :skill_no, id: :learnable_skill_skill_no %>
  </div>

  <div class="field">
    <%= form.label :skill_id %>
    <%= form.number_field :skill_id, id: :learnable_skill_skill_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
