<p id="notice"><%= notice %></p>

<p>
  <strong>Chara type:</strong>
  <%= @learnable_skill.chara_type %>
</p>

<p>
  <strong>Job:</strong>
  <%= @learnable_skill.job_id %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @learnable_skill.sp %>
</p>

<p>
  <strong>Skill no:</strong>
  <%= @learnable_skill.skill_no %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @learnable_skill.skill_id %>
</p>

<%= link_to 'Edit', edit_learnable_skill_path(@learnable_skill) %> |
<%= link_to 'Back', learnable_skills_path %>
