<h1>ステータス分布グラフ</h1>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
        <p class="formNum">テキストフォームの隣に赤い破線がある項目は数値検索です。<br>
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。<br>
        OR指定と範囲指定を同時に行うことはできません。</p>
        <p class="formText">テキストフォームの隣に青い太線がある項目は文字検索です。<br>
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます<br>
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。</p>
        <p><span id="example_open" class="example_select pointer" onclick="example_open(true)">入力例（クリックで開きます）<br></span>
        <span id="example_close" class="example_select pointer" style="display:none;" onclick="example_open(false)">入力例（クリックで閉じます）<br></span>
        <div id="example" style="display:none;">
            <p class="formNum">数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット<br>
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。</p>
            <p class="formText">現在地に「テネルメント」と入力　→　テネルメント、テネルメント城が検索結果にヒット<br>
            現在地に「"テネルメント"」　→　完全一致で「テネルメント」のみ検索結果にヒット<br>
            現在地に「-テネルメント」　→　「テネルメント」の単語を含まない目的が検索結果にヒット<br>
            現在地に「-"テネルメント"」　→　完全一致で「テネルメント」以外が検索結果にヒット<br>
            現在地に「テネルメント -"テネルメント"」　→　「テネルメント」が含まれる単語で完全一致の「テネルメント」以外がヒット。つまり、テネルメント城がヒットします。<br>
            現在地に「プラインカルド城 中庭」　→　「プラインカルド城」と「中庭」の2つの単語が含まれる現在地が検索結果にヒット<br>
            現在地に「プラインカルド城 北側/中庭」　→　「プラインカルド城」が含まれ、さらに「北側」か「中庭」の現在地が検索結果にヒット<br>
            現在地に「-テネルメント -プラインカルド城」　→　「テネルメント」もしくは「プラインカルド」という単語が入った現在地を検索結果から除外</p></div></p>
<%= search_form_for @search, url: status_graph_path do |f| %>
<table id="search_close" class="table table-striped table-bordered table-hover" style="display:none;" onclick="search_open(true);">

  <tbody>
  <tr><td colspan="2" style="cursor:pointer;">絞り込み検索<span style="font-size:80%">(クリックで開きます)</span></td></tr>
  </tbody>
</table>

<table id="search_table" class="table table-striped table-bordered table-hover">

  <tbody>
  <tr><td colspan="4" style="cursor:pointer;" onclick="search_open(false);">絞り込み検索<span style="font-size:80%">(クリックで閉じます)</span></td></tr>
  <tr><td><%= f.label :result_no_form, '更新回' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :result_no_form, @result_no_form %></td></tr>
  <tr><td><%= f.label :e_no_form, 'Eno' %></td>
    <td class="formNum"><%= text_field_tag :e_no_form, @e_no_form %></td>
  <td><%= f.label :p_name_form, 'キャラクター名' %></td>
    <td class="formText"><%= text_field_tag :p_name_form, @p_name_form %></td></tr>
  <tr><td></td><td colspan="4"><%= check_box_tag :show_main, @show_main, @show_main %><%= f.label_tag :show_main, 'メインキャラ' %>　<%= check_box_tag :show_sub, @show_sub, @show_sub %><%= f.label_tag :show_sub, 'サブキャラ' %></td></tr>
  <tr><td><%= f.label :lv_form, 'Lv' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :lv_form, @lv_form %></td></tr>
  <tr><td><%= f.label :exp_form, 'Exp' %></td>
    <td class="formNum"><%= text_field_tag :exp_form, @exp_form %></td>
  <td><%= f.label :mexp_form, 'MExp' %></td>
    <td class="formNum"><%= text_field_tag :mexp_form, @mexp_form %></td></tr>
  <tr><td><%= f.label :job1_form, '戦型1' %></td>
    <td class="formText"><%= text_field_tag :job1_form, @job1_form %></td>
  <td><%= f.label :job2_form, '戦型2' %></td>
    <td class="formText"><%= text_field_tag :job2_form, @job2_form %></td></tr>
  <tr><td><%= f.label :hp_form, 'HP' %></td>
    <td class="formNum"><%= text_field_tag :hp_form, @hp_form %></td>
  <td><%= f.label :mhp_form, 'MHP' %></td>
    <td class="formNum"><%= text_field_tag :mhp_form, @mhp_form %></td></tr>
  <tr><td><%= f.label :hp_rate_form, 'HP割合' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :hp_rate_form, @hp_rate_form %></td></tr>
  <tr><td><%= f.label :mp_form, 'MP' %></td>
    <td class="formNum"><%= text_field_tag :mp_form, @mp_form %></td>
  <td><%= f.label :mmp_form, 'MMP' %></td>
    <td class="formNum"><%= text_field_tag :mmp_form, @mmp_form %></td></tr>
  <tr><td><%= f.label :mp_rate_form, 'MP割合' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :mp_rate_form, @mp_rate_form %></td></tr>
  <tr><td><%= f.label :sp_form, 'SP' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :sp_form, @sp_form %></td></tr>
  <tr><td><%= f.label :str_form, '腕力' %></td>
    <td class="formNum"><%= text_field_tag :str_form, @str_form %></td>
  <td><%= f.label :int_form, '魔力' %></td>
    <td class="formNum"><%= text_field_tag :int_form, @int_form %></td></tr>
  <tr><td><%= f.label :tec_form, '器用' %></td>
    <td class="formNum"><%= text_field_tag :tec_form, @tec_form %></td>
  <td><%= f.label :agi_form, '反応' %></td>
    <td class="formNum"><%= text_field_tag :agi_form, @agi_form %></td></tr>
  <tr><td><%= f.label :def_form, '守護' %></td>
    <td class="formNum"><%= text_field_tag :def_form, @def_form %></td>
  <td><%= f.label :skill_form, '熟練' %></td>
    <td class="formNum"><%= text_field_tag :skill_form, @skill_form %></td></tr>
  <tr><td><%= f.label :personality_form, '性格' %></td>
    <td class="formNum"><%= text_field_tag :personality_form, @personality_form %></td>
  <td><%= f.label :tribe_form, '種族' %></td>
    <td class="formText"><%= text_field_tag :tribe_form, @tribe_form %></td></tr>
  <tr><td><%= f.label :money_form, '金' %></td>
    <td class="formNum"><%= text_field_tag :money_form, @money_form %></td>
  <td><%= f.label :sundries_form, '雑貨' %></td>
    <td class="formNum"><%= text_field_tag :sundries_form, @sundries_form %></td></tr>
  <tr><td></td><td colspan="3">
    <%= f.submit '検索する' %>
    </td></tr>
</tbody>
</table>
 <% end %>
   </div>
  </div>
</div>
ヒット数：<%= @count %>件<br><br>


<h3>・戦型1</h3>
<%= column_chart @statuses.to_job_graph(:job1), xtitle: "戦型1", ytitle:"人数" %>
<h3>・戦型2</h3>
<%= column_chart @statuses.to_job_graph(:job2), xtitle: "戦型2", ytitle:"人数" %>
<h3>・LV</h3>
<%= column_chart @statuses.pluck(:lv).inject(Hash.new(0)){|hash, a| hash[a] += 1 ; hash}.sort, xtitle: "Lv", ytitle:"人数" %>
<h3>・HP</h3>
<%= column_chart @statuses.to_range_graph(:hp,1000,5), xtitle: "HP", ytitle:"人数" %>
<h3>・MP</h3>
<%= column_chart @statuses.to_range_graph(:mp,100,5), xtitle: "MP", ytitle:"人数" %>
<h3>・腕力</h3>
<%= column_chart @statuses.to_range_graph(:str,50,5), xtitle: "腕力", ytitle:"人数" %>
<h3>・魔力</h3>
<%= column_chart @statuses.to_range_graph(:int,50,5), xtitle: "魔力", ytitle:"人数" %>
<h3>・器用</h3>
<%= column_chart @statuses.to_range_graph(:tec,50,5), xtitle: "器用", ytitle:"人数" %>
<h3>・反応</h3>
<%= column_chart @statuses.to_range_graph(:agi,50,5), xtitle: "反応", ytitle:"人数" %>
<h3>・守護</h3>
<%= column_chart @statuses.to_range_graph(:def,50,5), xtitle: "守護", ytitle:"人数" %>
<h3>・熟練</h3>
<%= column_chart @statuses.to_range_graph(:skill,50,5), xtitle: "熟練", ytitle:"人数" %>
