<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @status.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @status.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @status.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @status.sub_no %>
</p>

<p>
  <strong>Lv:</strong>
  <%= @status.lv %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @status.exp %>
</p>

<p>
  <strong>Mexp:</strong>
  <%= @status.mexp %>
</p>

<p>
  <strong>Job1:</strong>
  <%= @status.job1 %>
</p>

<p>
  <strong>Job2:</strong>
  <%= @status.job2 %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @status.hp %>
</p>

<p>
  <strong>Mhp:</strong>
  <%= @status.mhp %>
</p>

<p>
  <strong>Hp rate:</strong>
  <%= @status.hp_rate %>
</p>

<p>
  <strong>Mp:</strong>
  <%= @status.mp %>
</p>

<p>
  <strong>Mmp:</strong>
  <%= @status.mmp %>
</p>

<p>
  <strong>Mp rate:</strong>
  <%= @status.mp_rate %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @status.sp %>
</p>

<p>
  <strong>Str:</strong>
  <%= @status.str %>
</p>

<p>
  <strong>Int:</strong>
  <%= @status.int %>
</p>

<p>
  <strong>Tec:</strong>
  <%= @status.tec %>
</p>

<p>
  <strong>Agi:</strong>
  <%= @status.agi %>
</p>

<p>
  <strong>Def:</strong>
  <%= @status.def %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @status.skill %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @status.personality %>
</p>

<p>
  <strong>Tribe:</strong>
  <%= @status.tribe %>
</p>

<p>
  <strong>Money:</strong>
  <%= @status.money %>
</p>

<p>
  <strong>Sundries:</strong>
  <%= @status.sundries %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
