<h1>百合鏡4期データ小屋</h1>
<p>このサイトでは<a href="http://csyuki.sakura.ne.jp/cgi-bin/prism/" target="_blank">百合鏡</a>を解析して得られる情報を扱っています。<br>
データ更新は本家の圧縮結果が公開されてから行います。</p><br>
<p>第<%= @last_result %>回<%= "再" if @last_generate > 0 %><%= num = 2; text = ""; while num <= @last_generate do num += 1; text += "々" end; text %>更新結果まで反映済です。</p>

<div class="col-lg-12">
  <div class="bs-component">
    <div class="well well-sm">
      <h2>サイトマップ</h2>
      <ul>
        <li>個人データ</li>
	    <ul>
          <li><%= link_to "プロフィール一覧", profiles_path %></li>
          <li><%= link_to "ステータス一覧", statuses_path %></li>
          <li><%= link_to "アイテム一覧", items_path %></li>
          <li><%= link_to "技一覧", skills_path %></li>
          <li><%= link_to "イベントフラグ一覧", events_path %></li>
          <li><%= link_to "イベント進行一覧", event_proceeds_path %></li>
        </ul>
        <li>行動データ</li>
	    <ul>
          <li><%= link_to "パーティ情報一覧", party_infos_path %></li>
          <li><%= link_to "現在地一覧", current_places_path %></li>
          <li><%= link_to "出現敵一覧", enemy_party_infos_path %></li>
          <li><%= link_to "アイテムドロップ一覧", item_gets_path %></li>
          <li><%= link_to "装備作成一覧", smiths_path %></li>
        </ul>
        <li>新出データ</li>
	    <ul>
          <li><%= link_to "新出イベント状況一覧", new_events_path %></li>
          <li><%= link_to "新出地点一覧", new_places_path %></li>
          <li><%= link_to "新出敵一覧", new_enemies_path %></li>
        </ul>
        <li><%= link_to "戦型-習得可能技一覧", learnable_skills_path %></li>
      </ul>
    </div>
    <div class="well well-sm">
      <h2>更新履歴</h2>
      <ul>
        <li>2018/4/26</li>
        <ul>
          <li><%= link_to "アイテムドロップ一覧", item_gets_path %>を公開</li>
        </ul>
        <li>2018/4/25</li>
        <ul>
          <li><%= link_to "出現敵一覧", enemy_party_infos_path %>を公開</li>
          <li><%= link_to "新出敵一覧", new_enemies_path %>を公開</li>
        </ul>
        <li>2018/4/14</li>
        <ul>
          <li><%= link_to "プロフィール一覧", profiles_path %>の通り名と肩書が逆になっていた不具合</li>
        </ul>
        <li>2018/4/5</li>
        <ul>
          <li>サイト公開</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

