%h1 百合鏡4期データ小屋
%p
  このサイトでは
  %a{:href => "http://csyuki.sakura.ne.jp/cgi-bin/prism/", :target => "_blank"}> 百合鏡
  の4期結果を解析して得られる情報を扱っていました。
  %br/
  4期運営終了に伴い、全結果から取得したデータを残しています。
  %br/
  結果へのリンクは弊サイト#{link_to "データ小屋アーカイブス", "https://archives.teiki.org/yk/4/"}に保存したものに置き換えています。
%br/
%p
  第#{@last_result}回#{"再" if @last_generate > 0}#{num = 2; text = ""; while num <= @last_generate do num += 1; text += "々" end; text}更新結果まで反映済です。
%p{:style => "font-size:x-large;"}
  %br/
  = link_to "⇒次期：百合鏡データ小屋", "https://data.teiki.org/yk/"
%br/
%br/
.well.well-sm
  %h2 サイトマップ
  .row
    .col-md-6
      %ul
        %li 個人データ
        %ul
          %li= link_to "キャラクター名一覧", names_path
          %br/
          %li= link_to "プロフィール一覧", profiles_path
          %li= link_to "ステータス一覧", statuses_path
          %li= link_to "アイテム一覧", items_path
          %li= link_to "技一覧", skills_path
          %li= link_to "イベントフラグ一覧", events_path
          %li= link_to "イベント進行一覧", event_proceeds_path
          %li= link_to "サブキャラ探索結果一覧", searches_path
          %br/
          %li= link_to "ステータス分布グラフ", status_graph_path
          %li= link_to "サブキャラ探索結果グラフ", search_graph_path
    .col-md-6
      %ul
        %li 行動データ
        %ul
          %li= link_to "パーティ情報一覧", party_infos_path
          %li= link_to "現在地一覧", current_places_path
          %li= link_to "戦闘結果一覧", battle_results_path
          %li= link_to "アイテムドロップ一覧", item_gets_path
          %li= link_to "装備作成一覧", smiths_path
          %li= link_to "装備作成一覧 | 作成直後価値減衰率", smith_display_rates_path
          %li= link_to "出発国分布グラフ", current_places_start_path
        %br/
        %li 新出データ
        %ul
          %li= link_to "新出イベント状況一覧", new_events_path
          %li= link_to "新出地点一覧", new_places_path
          %li= link_to "新出敵一覧", new_enemies_path
        %br/
        %li= link_to "戦型-習得可能技一覧", learnable_skills_path
.well.well-sm
  %h2 更新履歴
  %ul
    %li 2019/6/2
    %ul
      %li
        = link_to "出発国分布グラフ", current_places_start_path
        を公開
    %li 2019/5/20
    %ul
      %li
        本家5期移行に伴い、最新結果へのリンク先も#{link_to "データ小屋アーカイブス", "https://archives.teiki.org"}に変更
    %li 2018/11/3
    %ul
      %li
        = link_to "キャラクター名一覧", names_path
        を公開
      %li
        過去結果へのリンクを追加。（過去結果のリンク先は#{link_to "データ小屋アーカイブス", "https://archives.teiki.org"}）
    %li 2018/9/17
    %ul
      %li
        = link_to "サブキャラ探索結果一覧", searches_path
        の解析ミスを修正
    %li 2018/8/25
    %ul
      %li
        = link_to "装備作成一覧 | 作成直後価値減衰率", smith_display_rates_path
        を公開
    %li 2018/8/25
    %ul
      %li
        = link_to "装備作成一覧", smiths_path
        に参考装備、作成結果の価値を追加
    %li 2018/8/3
    %ul
      %li
        = link_to "ステータス分布グラフ", status_graph_path
        を公開
    %li 2018/7/31
    %ul
      %li
        = link_to "サブキャラ探索結果一覧", searches_path
        を公開
      %li
        = link_to "サブキャラ探索結果グラフ", search_graph_path
        を公開
    %li 2018/7/8
    %ul
      %li
        = link_to "戦型-習得可能技一覧", learnable_skills_path
        でソートが出来ない不具合を修正
    %li 2018/7/5
    %ul
      %li
        = link_to "アイテム一覧", items_path
        でマイナスの数値を正しく取得できていなかった不具合を修正
    %li 2018/5/6
    %ul
      %li
        = link_to "戦闘結果一覧", battle_results_path
        に臆病者を所持している人数を表示。
    %li 2018/4/29
    %ul
      %li
        = link_to "戦闘結果一覧", battle_results_path
        を公開。出現敵一覧の情報を戦闘結果一覧で表示するように。
    %li 2018/4/26
    %ul
      %li
        = link_to "アイテムドロップ一覧", item_gets_path
        を公開
    %li 2018/4/25
    %ul
      %li 出現敵一覧を公開
      %li
        = link_to "新出敵一覧", new_enemies_path
        を公開
    %li 2018/4/14
    %ul
      %li
        = link_to "プロフィール一覧", profiles_path
        の通り名と肩書が逆になっていた不具合
    %li 2018/4/5
    %ul
      %li サイト公開
