%h1 百合鏡データ小屋
%p
  このサイトでは
  %a{:href => "http://csyuki.sakura.ne.jp/cgi-bin/prism/", :target => "_blank"} 百合鏡
  を解析して得られる情報を扱っています。
%br
%p 
  #{top_result_no(nil,nil)}更新結果まで反映済です。

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "プロフィール一覧", profiles_path
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "所有アイテム一覧", items_path
            %li= link_to "所有技一覧", skills_path
      .col-md-6
        %ul
          %li 行動データ
          %ul  
            %li= link_to "パーティ情報一覧", party_infos_path
            %li= link_to "現在地一覧", current_places_path
          %br
          %li= link_to "戦型－習得可能技一覧", learnable_skills_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
