<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @item_get.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @item_get.generate_no %>
</p>

<p>
  <strong>Party no:</strong>
  <%= @item_get.party_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @item_get.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @item_get.sub_no %>
</p>

<p>
  <strong>Enemy:</strong>
  <%= @item_get.enemy %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item_get.item %>
</p>

<p>
  <strong>Is pk:</strong>
  <%= @item_get.is_pk %>
</p>

<%= link_to 'Edit', edit_item_get_path(@item_get) %> |
<%= link_to 'Back', item_gets_path %>
