<%= form_with(model: current_place, local: true) do |form| %>
  <% if current_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_place.errors.count, "error") %> prohibited this current_place from being saved:</h2>

      <ul>
      <% current_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result_no %>
    <%= form.number_field :result_no, id: :current_place_result_no %>
  </div>

  <div class="field">
    <%= form.label :generate_no %>
    <%= form.number_field :generate_no, id: :current_place_generate_no %>
  </div>

  <div class="field">
    <%= form.label :party_no %>
    <%= form.number_field :party_no, id: :current_place_party_no %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.number_field :place, id: :current_place_place %>
  </div>

  <div class="field">
    <%= form.label :shop %>
    <%= form.number_field :shop, id: :current_place_shop %>
  </div>

  <div class="field">
    <%= form.label :inn %>
    <%= form.number_field :inn, id: :current_place_inn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
