<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @skill.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @skill.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @skill.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @skill.sub_no %>
</p>

<p>
  <strong>Skill no:</strong>
  <%= @skill.skill_no %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @skill.skill_id %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
