= form_with(model: new_place, local: true) do |form|
  - if new_place.errors.any?
    #error_explanation
      %h2
        = pluralize(new_place.errors.count, "error")
        prohibited this new_place from being saved:
      %ul
        - new_place.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :result_no
    = form.number_field :result_no, id: :new_place_result_no
  .field
    = form.label :generate_no
    = form.number_field :generate_no, id: :new_place_generate_no
  .field
    = form.label :place
    = form.number_field :place, id: :new_place_place
  .actions
    = form.submit
