<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @new_place.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @new_place.generate_no %>
</p>

<p>
  <strong>Place:</strong>
  <%= @new_place.place %>
</p>

<%= link_to 'Edit', edit_new_place_path(@new_place) %> |
<%= link_to 'Back', new_places_path %>
