%p#notice= notice
%p
  %strong Result no:
  = @new_enemy.result_no
%p
  %strong Generate no:
  = @new_enemy.generate_no
%p
  %strong Enemy:
  = @new_enemy.enemy
= link_to 'Edit', edit_new_enemy_path(@new_enemy)
|
= link_to 'Back', new_enemies_path
