= form_with(model: event, local: true) do |form|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :result_no
    = form.number_field :result_no, id: :event_result_no
  .field
    = form.label :generate_no
    = form.number_field :generate_no, id: :event_generate_no
  .field
    = form.label :e_no
    = form.number_field :e_no, id: :event_e_no
  .field
    = form.label :sub_no
    = form.number_field :sub_no, id: :event_sub_no
  .field
    = form.label :event
    = form.number_field :event, id: :event_event
  .field
    = form.label :flag
    = form.number_field :flag, id: :event_flag
  .field
    = form.label :text
    = form.number_field :text, id: :event_text
  .actions
    = form.submit
