= form_with(model: smith_display, local: true) do |form|
  - if smith_display.errors.any?
    #error_explanation
      %h2
        = pluralize(smith_display.errors.count, "error")
        prohibited this smith_display from being saved:
      %ul
        - smith_display.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :result_no
    = form.number_field :result_no, id: :smith_display_result_no
  .field
    = form.label :generate_no
    = form.number_field :generate_no, id: :smith_display_generate_no
  .field
    = form.label :party_no
    = form.number_field :party_no, id: :smith_display_party_no
  .field
    = form.label :e_no
    = form.number_field :e_no, id: :smith_display_e_no
  .field
    = form.label :sub_no
    = form.number_field :sub_no, id: :smith_display_sub_no
  .field
    = form.label :total_price
    = form.number_field :total_price, id: :smith_display_total_price
  .field
    = form.label :price_rate
    = form.text_field :price_rate, id: :smith_display_price_rate
  .field
    = form.label :display_rate
    = form.text_field :display_rate, id: :smith_display_display_rate
  .actions
    = form.submit
