<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @smith_display.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @smith_display.generate_no %>
</p>

<p>
  <strong>Party no:</strong>
  <%= @smith_display.party_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @smith_display.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @smith_display.sub_no %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @smith_display.total_price %>
</p>

<p>
  <strong>Price rate:</strong>
  <%= @smith_display.price_rate %>
</p>

<p>
  <strong>Display rate:</strong>
  <%= @smith_display.display_rate %>
</p>

<%= link_to 'Edit', edit_smith_display_path(@smith_display) %> |
<%= link_to 'Back', smith_displays_path %>
