- @page_title = "戦闘結果一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "パーティ番号", params_name: "party_no_form", placeholder: "Number", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "敵名", params_name: "enemy_form", placeholder: "Enemy", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "is_sub_form", label: "戦闘結果", colspan: 3,
                    checkboxes: [{label: "勝利", params_name: "is_win", class_name: "after_space"},
                                 {label: "引分",   params_name: "is_draw", class_name: "after_space"},
                                 {label: "敗北",   params_name: "is_lose"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_current_place",
                    label: {open: "現在地を表示する", close: "現在地を非表示にする"}, base_first: true)
    %tbody
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "現在地", params_name: "place_form", placeholder: "Place", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_num",
                    label: {open: "人数を表示する", close: "人数を非表示にする"},
                    act_desc: "参戦人数、敵数", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "参戦人数", params_name: "battler_num_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "敵数", params_name: "enemy_num_form", placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_is_pk",
                    label: {open: "戦闘種別を表示する", close: "戦闘種別を非表示にする"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "is_sub_form", label: "戦闘種別", colspan: 3,
                    checkboxes: [{label: "通常戦", params_name: "is_enemy", class_name: "after_space"},
                                 {label: "練習試合",   params_name: "is_practice", class_name: "after_space"},
                                 {label: "PK戦",   params_name: "is_pk"}])
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@battle_results)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :party_no, "Pno", default_order: :desc)
      %th.sep= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th= sort_link(@search, :enemy_members_enemy_name, "敵名", default_order: :desc)
      %th.sep= sort_link(@search, :battle_result, "勝敗", default_order: :desc)
      - if @form_params["show_current_place"] == "1"
        %th.sep= sort_link(@search, :current_place_place_id, "現在地", default_order: :desc)
      - if @form_params["show_num"] == "1"
        %th.sep= sort_link(@search, :party_info_battler_num, "参戦", default_order: :desc)
        %th= sort_link(@search, :enemy_party_info_enemy_num, "敵数", default_order: :desc)
      - if @form_params["show_is_pk"] == "1"
        %th.sep= sort_link(@search, :is_pk, "種別", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @battle_results.each do |battle_result|
      %tr
        %td= battle_result.result_no
        %td= battle_result.party_no
        %td.sep
          - if battle_result.party_info
            - battle_result.party_info.party_members.each do |party_member|
              = pc_name_text(party_member.e_no, party_member.sub_no, party_member.pc_name)
              %br
        %td
          - if battle_result.enemy_members
            - battle_result.enemy_members.each do |enemy_member|
              = enemy_name_text(enemy_member)
              %br
        %td.sep
          = "勝利" if battle_result.battle_result == 1
          = "引分" if battle_result.battle_result == 0
          = "敗北" if battle_result.battle_result == -1
        - if @form_params["show_current_place"] == "1"
          %td.sep= battle_result.current_place.place.name if battle_result.current_place && battle_result.current_place.place
        - if @form_params["show_num"] == "1"
          %td.sep= battle_result.party_info.battler_num if battle_result.party_info
          %td= battle_result.enemy_party_info.enemy_num
        - if @form_params["show_is_pk"] == "1"
          %td.sep
            = "通常" if battle_result.is_pk == 0
            = "練習" if battle_result.is_pk == 1
            = "PK" if battle_result.is_pk == 2
        %td.sep= battle_link(battle_result.party_no)
        %td= battle_old_link(@latest_result, battle_result.party_no, battle_result.result_no)
= paginate(@battle_results)
