<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @battle_result.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @battle_result.generate_no %>
</p>

<p>
  <strong>Party no:</strong>
  <%= @battle_result.party_no %>
</p>

<p>
  <strong>Battle result:</strong>
  <%= @battle_result.battle_result %>
</p>

<%= link_to 'Edit', edit_battle_result_path(@battle_result) %> |
<%= link_to 'Back', battle_results_path %>
