<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @smith.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @smith.generate_no %>
</p>

<p>
  <strong>Last result no:</strong>
  <%= @smith.last_result_no %>
</p>

<p>
  <strong>Last generate no:</strong>
  <%= @smith.last_generate_no %>
</p>

<p>
  <strong>Party no:</strong>
  <%= @smith.party_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @smith.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @smith.sub_no %>
</p>

<p>
  <strong>Result i no:</strong>
  <%= @smith.result_i_no %>
</p>

<p>
  <strong>Source i no:</strong>
  <%= @smith.source_i_no %>
</p>

<p>
  <strong>Main material i no:</strong>
  <%= @smith.main_material_i_no %>
</p>

<p>
  <strong>Sub material 1 i no:</strong>
  <%= @smith.sub_material_1_i_no %>
</p>

<p>
  <strong>Sub material 2 i no:</strong>
  <%= @smith.sub_material_2_i_no %>
</p>

<p>
  <strong>Sub material 3 i no:</strong>
  <%= @smith.sub_material_3_i_no %>
</p>

<p>
  <strong>Sub material 4 i no:</strong>
  <%= @smith.sub_material_4_i_no %>
</p>

<p>
  <strong>Main material name:</strong>
  <%= @smith.main_material_name_id %>
</p>

<p>
  <strong>Sub material 1 name:</strong>
  <%= @smith.sub_material_1_name_id %>
</p>

<p>
  <strong>Sub material 2 name:</strong>
  <%= @smith.sub_material_2_name_id %>
</p>

<p>
  <strong>Sub material 3 name:</strong>
  <%= @smith.sub_material_3_name_id %>
</p>

<p>
  <strong>Sub material 4 name:</strong>
  <%= @smith.sub_material_4_name_id %>
</p>

<%= link_to 'Edit', edit_smith_path(@smith) %> |
<%= link_to 'Back', smiths_path %>
