<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @skill_datum.skill_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill_datum.name %>
</p>

<p>
  <strong>At:</strong>
  <%= @skill_datum.at %>
</p>

<p>
  <strong>Ct:</strong>
  <%= @skill_datum.ct %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @skill_datum.timing %>
</p>

<p>
  <strong>Mp:</strong>
  <%= @skill_datum.mp %>
</p>

<p>
  <strong>Target:</strong>
  <%= @skill_datum.target %>
</p>

<p>
  <strong>Range:</strong>
  <%= @skill_datum.range %>
</p>

<p>
  <strong>Property:</strong>
  <%= @skill_datum.property %>
</p>

<p>
  <strong>Element:</strong>
  <%= @skill_datum.element %>
</p>

<p>
  <strong>Text:</strong>
  <%= @skill_datum.text %>
</p>

<%= link_to 'Edit', edit_skill_datum_path(@skill_datum) %> |
<%= link_to 'Back', skill_data_path %>
