<%= form_with(model: search, local: true) do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result_no %>
    <%= form.number_field :result_no, id: :search_result_no %>
  </div>

  <div class="field">
    <%= form.label :generate_no %>
    <%= form.number_field :generate_no, id: :search_generate_no %>
  </div>

  <div class="field">
    <%= form.label :last_result_no %>
    <%= form.number_field :last_result_no, id: :search_last_result_no %>
  </div>

  <div class="field">
    <%= form.label :last_generate_no %>
    <%= form.number_field :last_generate_no, id: :search_last_generate_no %>
  </div>

  <div class="field">
    <%= form.label :e_no %>
    <%= form.number_field :e_no, id: :search_e_no %>
  </div>

  <div class="field">
    <%= form.label :sub_no %>
    <%= form.number_field :sub_no, id: :search_sub_no %>
  </div>

  <div class="field">
    <%= form.label :main_no %>
    <%= form.number_field :main_no, id: :search_main_no %>
  </div>

  <div class="field">
    <%= form.label :i_no %>
    <%= form.number_field :i_no, id: :search_i_no %>
  </div>

  <div class="field">
    <%= form.label :i_name %>
    <%= form.text_field :i_name, id: :search_i_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :search_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
