<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @search.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @search.generate_no %>
</p>

<p>
  <strong>Last result no:</strong>
  <%= @search.last_result_no %>
</p>

<p>
  <strong>Last generate no:</strong>
  <%= @search.last_generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @search.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @search.sub_no %>
</p>

<p>
  <strong>Main no:</strong>
  <%= @search.main_no %>
</p>

<p>
  <strong>I no:</strong>
  <%= @search.i_no %>
</p>

<p>
  <strong>I name:</strong>
  <%= @search.i_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @search.value %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
