- @page_title = "イベント進行一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "イベント", params_name: "event_form", placeholder: "Event", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "前回の状況", params_name: "last_flag_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "状況", params_name: "flag_form")
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@event_proceeds)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th= sort_link(@search, :event_id, "イベント", default_order: :desc)
      %th= sort_link(@search, :last_flag_id, "前回", default_order: :desc)
      %th= sort_link(@search, :flag_id, "状況", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @event_proceeds.each do |event_proceed|
      %tr
        %td= event_proceed.result_no
        %td= pc_name_text(event_proceed.e_no, event_proceed.sub_no, event_proceed.pc_name)
        %td= event_proceed.event.name if event_proceed.event
        %td= event_proceed.last_flag.name if event_proceed.last_flag
        %td= event_proceed.flag.name if event_proceed.flag
        %td.sep= character_link(event_proceed.e_no, event_proceed.sub_no)
        %td= character_old_link(@latest_result, event_proceed.e_no, event_proceed.sub_no, event_proceed.result_no, event_proceed.generate_no)
= paginate(@event_proceeds)
