<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @event_proceed.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @event_proceed.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @event_proceed.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @event_proceed.sub_no %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_proceed.event %>
</p>

<p>
  <strong>Last flag:</strong>
  <%= @event_proceed.last_flag %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @event_proceed.flag %>
</p>

<%= link_to 'Edit', edit_event_proceed_path(@event_proceed) %> |
<%= link_to 'Back', event_proceeds_path %>
