<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result_no %>
    <%= form.number_field :result_no, id: :item_result_no %>
  </div>

  <div class="field">
    <%= form.label :generate_no %>
    <%= form.number_field :generate_no, id: :item_generate_no %>
  </div>

  <div class="field">
    <%= form.label :e_no %>
    <%= form.number_field :e_no, id: :item_e_no %>
  </div>

  <div class="field">
    <%= form.label :sub_no %>
    <%= form.number_field :sub_no, id: :item_sub_no %>
  </div>

  <div class="field">
    <%= form.label :item_no %>
    <%= form.number_field :item_no, id: :item_item_no %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.number_field :kind, id: :item_kind %>
  </div>

  <div class="field">
    <%= form.label :effect %>
    <%= form.number_field :effect, id: :item_effect %>
  </div>

  <div class="field">
    <%= form.label :effect_num %>
    <%= form.number_field :effect_num, id: :item_effect_num %>
  </div>

  <div class="field">
    <%= form.label :slash %>
    <%= form.number_field :slash, id: :item_slash %>
  </div>

  <div class="field">
    <%= form.label :charge %>
    <%= form.number_field :charge, id: :item_charge %>
  </div>

  <div class="field">
    <%= form.label :magic %>
    <%= form.number_field :magic, id: :item_magic %>
  </div>

  <div class="field">
    <%= form.label :guard %>
    <%= form.number_field :guard, id: :item_guard %>
  </div>

  <div class="field">
    <%= form.label :protect %>
    <%= form.number_field :protect, id: :item_protect %>
  </div>

  <div class="field">
    <%= form.label :have_rest %>
    <%= form.number_field :have_rest, id: :item_have_rest %>
  </div>

  <div class="field">
    <%= form.label :have_max %>
    <%= form.number_field :have_max, id: :item_have_max %>
  </div>

  <div class="field">
    <%= form.label :prize %>
    <%= form.number_field :prize, id: :item_prize %>
  </div>

  <div class="field">
    <%= form.label :ability %>
    <%= form.number_field :ability, id: :item_ability %>
  </div>

  <div class="field">
    <%= form.label :equip %>
    <%= form.number_field :equip, id: :item_equip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
