<h1>アイテム一覧</h1>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
        <p class="formNum">テキストフォームの隣に赤い破線がある項目は数値検索です。<br>
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。<br>
        OR指定と範囲指定を同時に行うことはできません。</p>
        <p class="formText">テキストフォームの隣に青い太線がある項目は文字検索です。<br>
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます<br>
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。</p>
        <p><span id="example_open" class="example_select pointer" onclick="example_open(true)">入力例（クリックで開きます）<br></span>
        <span id="example_close" class="example_select pointer" style="display:none;" onclick="example_open(false)">入力例（クリックで閉じます）<br></span>
        <div id="example" style="display:none;">
            <p class="formNum">数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット<br>
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。</p>
            <p class="formText">現在地に「テネルメント」と入力　→　テネルメント、テネルメント城が検索結果にヒット<br>
            現在地に「"テネルメント"」　→　完全一致で「テネルメント」のみ検索結果にヒット<br>
            現在地に「-テネルメント」　→　「テネルメント」の単語を含まない目的が検索結果にヒット<br>
            現在地に「-"テネルメント"」　→　完全一致で「テネルメント」以外が検索結果にヒット<br>
            現在地に「テネルメント -"テネルメント"」　→　「テネルメント」が含まれる単語で完全一致の「テネルメント」以外がヒット。つまり、テネルメント城がヒットします。<br>
            現在地に「プラインカルド城 中庭」　→　「プラインカルド城」と「中庭」の2つの単語が含まれる現在地が検索結果にヒット<br>
            現在地に「プラインカルド城 北側/中庭」　→　「プラインカルド城」が含まれ、さらに「北側」か「中庭」の現在地が検索結果にヒット<br>
            現在地に「-テネルメント -プラインカルド城」　→　「テネルメント」もしくは「プラインカルド」という単語が入った現在地を検索結果から除外</p></div></p>
<%= search_form_for @search do |f| %>
<table id="search_close" class="table table-striped table-bordered table-hover" style="display:none;" onclick="search_open(true);">

  <tbody>
  <tr><td colspan="2" style="cursor:pointer;">絞り込み検索<span style="font-size:80%">(クリックで開きます)</span></td></tr>
  </tbody>
</table>

<table id="search_table" class="table table-striped table-bordered table-hover">

  <tbody>
  <tr><td colspan="4" style="cursor:pointer;" onclick="search_open(false);">絞り込み検索<span style="font-size:80%">(クリックで閉じます)</span></td></tr>
  <tr><td><%= f.label :result_no_form, '更新回' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :result_no_form, @result_no_form %></td></tr>
  <tr><td><%= f.label :e_no_form, 'Eno' %></td>
    <td class="formNum"><%= text_field_tag :e_no_form, @e_no_form %></td>
  <td><%= f.label :p_name_form, 'キャラクター名' %></td>
    <td class="formText"><%= text_field_tag :p_name_form, @p_name_form %></td></tr>
  <tr><td></td><td colspan="3"><%= check_box_tag :show_main, @show_main, @show_main %><%= f.label_tag :show_main, 'メインキャラ' %><%= check_box_tag :show_sub, @show_sub, @show_sub %><%= f.label_tag :show_sub, 'サブキャラ' %></td></tr>
  <tr><td><%= f.label :name_form, 'アイテム名' %></td>
    <td class="formText"><%= text_field_tag :name_form, @name_form %></td>
  <td><%= f.label :kind_form, '種類' %></td>
    <td class="formText"><%= text_field_tag :kind_form, @kind_form %></td></tr>
  <tr><td><%= f.label :effect_form, '効果' %></td>
    <td class="formText"><%= text_field_tag :effect_form, @effect_form %></td>
  <td><%= f.label :effect_num_form, '効果量' %></td>
    <td class="formNum"><%= text_field_tag :effect_num_form, @effect_num_form %></td></tr>
  <tr><td><%= f.label :slash_form, '斬撃' %></td>
    <td class="formNum"><%= text_field_tag :slash_form, @slash_form %></td>
  <td><%= f.label :charge_form, '突撃' %></td>
    <td class="formNum"><%= text_field_tag :charge_form, @charge_form %></td></tr>
  <tr><td><%= f.label :magic_form, '魔力' %></td>
    <td class="formNum"><%= text_field_tag :magic_form, @magic_form %></td>
  <td><%= f.label :guard_form, '防御' %></td>
    <td class="formNum"><%= text_field_tag :guard_form, @guard_form %></td></tr>
  <tr><td><%= f.label :protect_form, '守護' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :protect_form, @protect_form %></td></tr>
  <tr><td><%= f.label :have_rest_form, '個数' %></td>
    <td class="formNum"><%= text_field_tag :have_rest_form, @have_rest_form %></td>
  <td><%= f.label :have_max_form, '最大個数' %></td>
    <td class="formNum"><%= text_field_tag :have_max_form, @have_max_form %></td></tr>
  <tr><td><%= f.label :prize_form, '価値' %></td>
    <td class="formNum"><%= text_field_tag :prize_form, @prize_form %></td>
  <td><%= f.label :ability_form, '能力' %></td>
    <td class="formText"><%= text_field_tag :ability_form, @ability_form %></td></tr>
  <tr><td></td><td colspan="3"><%= check_box_tag :is_equiped, @is_equiped, @is_equiped %><%= f.label_tag :is_equiped, '装備中' %><%= check_box_tag :no_equiped, @no_equiped, @no_equiped %><%= f.label_tag :no_equiped, '未装備' %></td></tr>
  <tr><td><%= f.label :equip_form, '装備' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :equip_form, @equip_form %></td></tr>
  <tr><td></td><td colspan="3">
    <%= f.submit '検索する' %>
    </td></tr>
</tbody>
</table>
 <% end %>
   </div>
  </div>
</div>
<%= paginate(@items) %><br>
ヒット数：<%= @count %>件<br><br>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :result_no,'更新回', default_order: :desc) %></th>
      <th><%= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc) %></th>
      <th><%= sort_link(@search, :item_no, 'No', default_order: :desc) %></th>
      <th><%= sort_link(@search, :name, 'アイテム名', default_order: :desc) %></th>
      <th><%= sort_link(@search, :kind, '種類', default_order: :desc) %></th>
      <th><%= sort_link(@search, :effect, '効果', default_order: :desc) %></th>
      <th><%= sort_link(@search, :effect_num, '効果量', default_order: :desc) %></th>
      <th><%= sort_link(@search, :slash, '斬撃', default_order: :desc) %></th>
      <th><%= sort_link(@search, :charge, '突撃', default_order: :desc) %></th>
      <th><%= sort_link(@search, :magic, '魔力', default_order: :desc) %></th>
      <th><%= sort_link(@search, :guard, '防御', default_order: :desc) %></th>
      <th><%= sort_link(@search, :protect, '守護', default_order: :desc) %></th>
      <th><%= sort_link(@search, :have_rest, '個数', default_order: :desc) %></th>
      <th><%= sort_link(@search, :have_max, '最大個数', default_order: :desc) %></th>
      <th><%= sort_link(@search, :prize, '価値', default_order: :desc) %></th>
      <th><%= sort_link(@search, :ability, '能力', default_order: :desc) %></th>
      <th><%= sort_link(@search, :equip, '装備', default_order: :desc) %></th>
      <th colspan="1">結果リンク</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.result_no %></td>
        <td><%= e_no_f_no = sprintf("%d",item.e_no)
            if item.sub_no > 0 then
                e_no_f_no += ", " + sprintf("%d",item.sub_no)
            end
            item.p_name.name.html_safe + "(" + e_no_f_no + ")" %></td>
        <td><%= item.item_no %></td>
        <td><%= item.name.html_safe %></td>
        <td><%= item.kind_name.name %></td>
        <td><%= item.effect_name.name %></td>
        <td><%= item.effect_num %></td>
        <td><%= item.slash %></td>
        <td><%= item.charge %></td>
        <td><%= item.magic %></td>
        <td><%= item.guard %></td>
        <td><%= item.protect %></td>
        <td><%= item.have_rest %></td>
        <td><%= item.have_max %></td>
        <td><%= item.prize %></td>
        <td><%= item.ability_name.name %></td>
        <td><%= "装備" if item.equip == 1 %></td>
        <td><%= file_name = sprintf("%d",item.e_no)
            if item.sub_no > 0 then
                file_name += "_" + sprintf("%d",item.sub_no)
            end
            link_to " 結果", "http://csyuki.sakura.ne.jp/cgi-bin/prism/result/status"+file_name+".html", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
<%= paginate(@items) %>
