- @page_title = "所有アイテム一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "is_sub_form", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "メインキャラ", params_name: "is_main", class_name: "after_space mobile_br"},
                                 {label: "サブキャラ",   params_name: "is_sub"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "アイテム名", params_name: "name_form", placeholder: "ItemName")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "種類", params_name: "kind_form", placeholder: "Item")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "効果", params_name: "effect_form", placeholder: "ItemEffect")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果量", params_name: "effect_num_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "斬撃", params_name: "slash_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "突撃", params_name: "charge_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "魔力", params_name: "magic_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "防御", params_name: "guard_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "守護", params_name: "protect_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "個数", params_name: "have_rest_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "最大個数", params_name: "have_max_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "価値", params_name: "prize_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "能力", params_name: "ability_form", placeholder: "ItemAbility")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "equip_form", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "装備中", params_name: "is_equiped", class_name: "after_space mobile_br"},
                                 {label: "未装備",   params_name: "no_equiped"}])
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@items)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th.sep= sort_link(@search, :item_no, "No", default_order: :desc)
      %th= sort_link(@search, :name, "アイテム名", default_order: :desc)
      %th= sort_link(@search, :kind_id, "種類", default_order: :desc)
      %th= sort_link(@search, :effect_id, "効果", default_order: :desc)
      %th.sep= sort_link(@search, :slash, "斬撃", default_order: :desc)
      %th= sort_link(@search, :charge, "突撃", default_order: :desc)
      %th= sort_link(@search, :magic, "魔力", default_order: :desc)
      %th= sort_link(@search, :guard, "防御", default_order: :desc)
      %th= sort_link(@search, :protect, "守護", default_order: :desc)
      %th.sep= sort_link(@search, :have_rest, "個数", default_order: :desc)
      %th= sort_link(@search, :have_max, "最大個数", default_order: :desc)
      %th= sort_link(@search, :prize, "価値", default_order: :desc)
      %th= sort_link(@search, :ability_id, "能力", default_order: :desc)
      %th= sort_link(@search, :equip, "装備", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @items.each do |item|
      %tr
        %td= item.result_no
        %td= pc_name_text(item.e_no, item.sub_no, item.pc_name)
        %td.sep= item.item_no
        %td= item.name
        %td= item.kind.name if item.kind
        %td
          = item.effect.name if item.effect
          = item.effect_num if item.effect_num > 0
        %td.sep= item.slash
        %td= item.charge
        %td= item.magic
        %td= item.guard
        %td= item.protect
        %td.sep= item.have_rest
        %td= item.have_max
        %td= item.prize
        %td= item.ability.name if item.ability
        %td= "装備" if item.equip == 1
        %td.sep= character_link(item.e_no, item.sub_no)
        %td= character_old_link(@latest_result, item.e_no, item.sub_no, item.result_no, item.generate_no)
= paginate(@items)
