<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @item.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @item.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @item.e_no %>
</p>

<p>
  <strong>Sub no:</strong>
  <%= @item.sub_no %>
</p>

<p>
  <strong>Item no:</strong>
  <%= @item.item_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @item.kind %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @item.effect %>
</p>

<p>
  <strong>Effect num:</strong>
  <%= @item.effect_num %>
</p>

<p>
  <strong>Slash:</strong>
  <%= @item.slash %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @item.charge %>
</p>

<p>
  <strong>Magic:</strong>
  <%= @item.magic %>
</p>

<p>
  <strong>Guard:</strong>
  <%= @item.guard %>
</p>

<p>
  <strong>Protect:</strong>
  <%= @item.protect %>
</p>

<p>
  <strong>Have rest:</strong>
  <%= @item.have_rest %>
</p>

<p>
  <strong>Have max:</strong>
  <%= @item.have_max %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @item.prize %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @item.ability %>
</p>

<p>
  <strong>Equip:</strong>
  <%= @item.equip %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
