= form_with(model: material_price, local: true) do |form|
  - if material_price.errors.any?
    #error_explanation
      %h2
        = pluralize(material_price.errors.count, "error")
        prohibited this material_price from being saved:
      %ul
        - material_price.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :material_price_name
  .field
    = form.label :price
    = form.number_field :price, id: :material_price_price
  .field
    = form.label :performance
    = form.number_field :performance, id: :material_price_performance
  .field
    = form.label :is_sub
    = form.number_field :is_sub, id: :material_price_is_sub
  .actions
    = form.submit
