%p#notice= notice
%p
  %strong Name:
  = @material_price.name
%p
  %strong Price:
  = @material_price.price
%p
  %strong Performance:
  = @material_price.performance
%p
  %strong Is sub:
  = @material_price.is_sub
= link_to 'Edit', edit_material_price_path(@material_price)
|
= link_to 'Back', material_prices_path
