<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material_price.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @material_price.price %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @material_price.performance %>
</p>

<p>
  <strong>Is sub:</strong>
  <%= @material_price.is_sub %>
</p>

<%= link_to 'Edit', edit_material_price_path(@material_price) %> |
<%= link_to 'Back', material_prices_path %>
