<h1>出現敵一覧</h1>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
        <p class="formNum">テキストフォームの隣に赤い破線がある項目は数値検索です。<br>
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。<br>
        OR指定と範囲指定を同時に行うことはできません。</p>
        <p class="formText">テキストフォームの隣に青い太線がある項目は文字検索です。<br>
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます<br>
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。</p>
        <p><span id="example_open" class="example_select pointer" onclick="example_open(true)">入力例（クリックで開きます）<br></span>
        <span id="example_close" class="example_select pointer" style="display:none;" onclick="example_open(false)">入力例（クリックで閉じます）<br></span>
        <div id="example" style="display:none;">
            <p class="formNum">数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット<br>
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。</p>
            <p class="formText">現在地に「テネルメント」と入力　→　テネルメント、テネルメント城が検索結果にヒット<br>
            現在地に「"テネルメント"」　→　完全一致で「テネルメント」のみ検索結果にヒット<br>
            現在地に「-テネルメント」　→　「テネルメント」の単語を含まない目的が検索結果にヒット<br>
            現在地に「-"テネルメント"」　→　完全一致で「テネルメント」以外が検索結果にヒット<br>
            現在地に「テネルメント -"テネルメント"」　→　「テネルメント」が含まれる単語で完全一致の「テネルメント」以外がヒット。つまり、テネルメント城がヒットします。<br>
            現在地に「プラインカルド城 中庭」　→　「プラインカルド城」と「中庭」の2つの単語が含まれる現在地が検索結果にヒット<br>
            現在地に「プラインカルド城 北側/中庭」　→　「プラインカルド城」が含まれ、さらに「北側」か「中庭」の現在地が検索結果にヒット<br>
            現在地に「-テネルメント -プラインカルド城」　→　「テネルメント」もしくは「プラインカルド」という単語が入った現在地を検索結果から除外</p></div></p>
<%= search_form_for @search do |f| %>
<table id="search_close" class="table table-striped table-bordered table-hover" style="display:none;" onclick="search_open(true);">

  <tbody>
  <tr><td colspan="2" style="cursor:pointer;">絞り込み検索<span style="font-size:80%">(クリックで開きます)</span></td></tr>
  </tbody>
</table>

<table id="search_table" class="table table-striped table-bordered table-hover">

  <tbody>
  <tr><td colspan="4" style="cursor:pointer;" onclick="search_open(false);">絞り込み検索<span style="font-size:80%">(クリックで閉じます)</span></td></tr>
  <tr><td><%= f.label :result_no_form, '更新回' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :result_no_form, @result_no_form %></td></tr>
  <tr><td><%= f.label :party_no_form, 'パーティ番号' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :party_no_form, @party_no_form %></td></tr>
  <tr><td><%= f.label :e_no_form, 'Eno' %></td>
    <td class="formNum"><%= text_field_tag :e_no_form, @e_no_form %></td>
  <td><%= f.label :p_name_form, 'キャラクター名' %></td>
    <td class="formText"><%= text_field_tag :p_name_form, @p_name_form %></td></tr>
  <tr><td><%= f.label :battler_num_form, '参戦人数' %></td>
    <td class="formNum"><%= text_field_tag :battler_num_form, @battler_num_form %></td>
  <td><%= f.label :enemy_num_form, '敵数' %></td>
    <td class="formNum"><%= text_field_tag :enemy_num_form, @enemy_num_form %></td></tr>
  <tr><td><%= f.label :enemy_form, '敵名' %></td>
    <td colspan="3" class="formText"><%= text_field_tag :enemy_form, @enemy_form %></td></tr>
  <tr><td></td><td colspan="3">
    <%= f.submit '検索する' %>
    </td></tr>
</tbody>
</table>
 <% end %>
   </div>
  </div>
</div>
<%= paginate(@enemy_party_infos) %><br>
ヒット数：<%= @count %>件<br><br>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :result_no,'更新回', default_order: :desc) %></th>
      <th><%= sort_link(@search, :party_no, 'Pno', default_order: :desc) %></th>
      <th><%= sort_link(@search, :party_info_party_members_e_no,'キャラクター(Eno)', default_order: :desc) %></th>
      <th><%= sort_link(@search, :party_info_battler_num, '参戦', default_order: :desc) %></th>
      <th><%= sort_link(@search, :enemy_num, '敵数', default_order: :desc) %></th>
      <th><%= sort_link(@search, :enemy_members_enemy_name_name, '敵名', default_order: :desc) %></th>
      <th colspan="1">結果リンク</th>
    </tr>
  </thead>

  <tbody>
    <% @enemy_party_infos.each do |enemy_party_info| %>
      <tr>
        <td><%= enemy_party_info.result_no %></td>
        <td><%= enemy_party_info.party_no %></td>
        <td><% if enemy_party_info.party_info then 
                 enemy_party_info.party_info.party_members.each do |party_member| %>
                   <%= party_member.p_name.name.html_safe + "(" + sprintf("%d",party_member.e_no) + ")" if party_member.p_name %><br>
            <%   end
               end %></td>
        <td><%= enemy_party_info.party_info.battler_num if enemy_party_info.party_info %></td>
        <td><%= enemy_party_info.enemy_num %></td>
        <td><% if enemy_party_info.enemy_members then 
                 enemy_party_info.enemy_members.each do |enemy_member| %>
                   <%= enemy_member.enemy_name.name + " " + sprintf("%s", enemy_member.suffix) if enemy_member.enemy_name %><br>
            <%   end
               end %></td>
        <td><%= file_name = sprintf("%d",enemy_party_info.party_no)
            link_to " 結果", "http://csyuki.sakura.ne.jp/cgi-bin/prism/result/result"+file_name+".html", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
<%= paginate(@enemy_party_infos) %>
