<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @enemy_party_info.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @enemy_party_info.generate_no %>
</p>

<p>
  <strong>Party no:</strong>
  <%= @enemy_party_info.party_no %>
</p>

<p>
  <strong>Enemy num:</strong>
  <%= @enemy_party_info.enemy_num %>
</p>

<%= link_to 'Edit', edit_enemy_party_info_path(@enemy_party_info) %> |
<%= link_to 'Back', enemy_party_infos_path %>
