<%= form_with(model: enemy_name, local: true) do |form| %>
  <% if enemy_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enemy_name.errors.count, "error") %> prohibited this enemy_name from being saved:</h2>

      <ul>
      <% enemy_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :enemy_id %>
    <%= form.number_field :enemy_id, id: :enemy_name_enemy_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :enemy_name_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
