<%= form_with(model: proper_name, local: true) do |form| %>
  <% if proper_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proper_name.errors.count, "error") %> prohibited this proper_name from being saved:</h2>

      <ul>
      <% proper_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proper_id %>
    <%= form.number_field :proper_id, id: :proper_name_proper_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :proper_name_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
