<p id="notice"><%= notice %></p>

<p>
  <strong>Proper:</strong>
  <%= @proper_name.proper_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @proper_name.name %>
</p>

<%= link_to 'Edit', edit_proper_name_path(@proper_name) %> |
<%= link_to 'Back', proper_names_path %>
