<%= form_with(model: place_name, local: true) do |form| %>
  <% if place_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place_name.errors.count, "error") %> prohibited this place_name from being saved:</h2>

      <ul>
      <% place_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.number_field :place_id, id: :place_name_place_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :place_name_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
