!!! s
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag('favicon.ico')

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light.navbar-custom.p-0
      .container
        = link_to "百合鏡2.9期データ小屋", root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarResponsive"}, area: {controls: "navbarResponsive", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                個人
                %span.caret
              .dropdown-menu
                = link_to "キャラクター名一覧", names_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "プロフィール一覧", profiles_path, class: "dropdown-item"
                = link_to "ステータス一覧", statuses_path, class: "dropdown-item"
                = link_to "所有アイテム一覧", items_path, class: "dropdown-item"
                = link_to "所有技一覧", skills_path, class: "dropdown-item"
                = link_to "イベントフラグ一覧", events_path, class: "dropdown-item"
                = link_to "イベント進行一覧", event_proceeds_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                行動
                %span.caret
              .dropdown-menu
                = link_to "パーティ情報一覧", party_infos_path, class: "dropdown-item"
                = link_to "現在地一覧", current_places_path, class: "dropdown-item"
                = link_to "戦闘結果一覧", battle_results_path, class: "dropdown-item"
                = link_to "アイテムドロップ一覧", item_gets_path, class: "dropdown-item"
                = link_to "装備作成一覧", smiths_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                グラフ
                %span.caret
              .dropdown-menu
                = link_to "ステータス分布グラフ", status_graphs_path, class: "dropdown-item"
                = link_to "出発国分布グラフ", current_places_start_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                新出
                %span.caret
              .dropdown-menu
                = link_to "新出イベント状況一覧", new_events_path, class: "dropdown-item"
                = link_to "新出地点一覧", new_places_path, class: "dropdown-item"
                = link_to "新出敵一覧", new_enemies_path, class: "dropdown-item"
            %li.nav-item.dropdown
              = link_to "戦型－習得技", learnable_skills_path, class: "nav-link"

    .container
      .row
        .col-md-12
          = yield
      
      %footer
        %p
          Twitter：#{link_to "@data_teiki", "http://twitter.com/data_teiki"}
          %br
          制作：#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/yurikagami_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/yurikagami_rails"}]
          %br
          #{link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"}
      = render "layouts/analytics"
